i,
em {
    font-style: normal;
}

.header_bottom {
    display: flex;
}

.header_bottom span {
    flex: 1;
}

.header_bottom span:nth-child(1) {
    flex: 4;
}

.license {
    font-size: 12px;
    line-height: 24px;
    max-height: 550px;
    overflow-y: scroll;
}

.license h1 {
    font-size: 18px;
    line-height: 28px;
    color: #7E8C8D;
    text-align: center;
}

.license p {
    font-size: 12px;
    text-indent: 2em;
}

.license h3 {
    font-size: 18px;
    color: #7E8C8D;
}

.next_footer {
    display: flex;
}

.next_footer div:first-child {
    line-height: 34px;
}

.next_footer div {
    text-align: center;
}

.procedure-nav {
    width: 100%;
    height: 100px;
    margin: 30px auto 0 auto;
    position: relative;
    z-index: 1;
}

.schedule-ico {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0
}

.schedule-ico span {
    display: block;
    width: 26px;
    height: 26px;
    float: left;
    /*border: 1px solid #000000;*/
    margin-left: 230px;
    background: url(../images/install_bg.png)
}

.schedule-ico span.a {
    background-position: 0 0;
    margin-left: 50px;
}

.schedule-ico span.b {
    background-position: -30px 0;
}

.schedule-ico span.c {
    background-position: -60px 0;
}

.schedule-ico span.d {
    background-position: -90px 0;
}

.schedule-line-bg {
    background-color: #ECF0F1;
    width: 900px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0;
}

.schedule-line-now {
    background-color: #f50;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 0;
}

.schedule-line-now em {
    background-image: -ms-linear-gradient(right, #ECF0F1 0%, #f50 100%)
    /* IE10 Consumer Preview */;
    background-image: -moz-linear-gradient(right, #ECF0F1 0%, #f50 100%)
    /* Mozilla Firefox */;
    background-image: -o-linear-gradient(right, #ECF0F1 0%, #f50 100%)
    /* Opera */;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #ECF0F1), color-stop(1, #f50))
    /* Webkit (Safari/Chrome 10) */;
    background-image: -webkit-linear-gradient(right, #ECF0F1 0%, #f50 100%)
    /* Webkit (Chrome 11+) */;
    background-image: linear-gradient(to left, #ECF0F1 0%, #f50 100%)
    /* W3C Markup, IE10 Release Preview */;
    display: block;
    width: 60px;
    height: 8px;
    float: right;
}

.schedule-point-bg {
    position: absolute;
    z-index: 3;
    top: 32px;
    left: 0;
}

.schedule-point-bg span {
    background-color: #FFF;
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 232px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.schedule-point-bg span.a {
    margin-left: 50px;
}

.schedule-point-now {
    position: absolute;
    z-index: 4;
    top: 36px;
    left: 0;
}

.schedule-point-now span {
    background-color: #ECF0F1;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 240px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.schedule-point-now span.a {
    margin-left: 54px;
}

.schedule-text {
    width: 900px;
    height: 30px;
    position: absolute;
    z-index: 4;
    top: 66px;
    left: 0;
}

.schedule-text span {
    font-size: 14px;
    color: #BEC3C7;
    text-align: center;
    display: block;
    width: 90px;
    float: left;
    margin-left: 167px;
}

.schedule-text span.a {
    margin-left: 16px;
}

#step1 .schedule-ico span.a {
    background-position: -120px 0;
}

#step1 .schedule-line-now {
    width: 200px;
}

#step1 .schedule-point-now span.a {
    background-color: #f50;
}

#step1 .schedule-text span.a {
    font-weight: 600;
    color: #f50;
}

.btn-next {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}

.btn-next a {
    margin-left: 10px;
}

#step2 .schedule-ico span.a {
    background-position: -120px 0;
}

#step2 .schedule-ico span.b {
    background-position: -150px 0;
}

#step2 .schedule-line-now {
    width: 440px;
}

#step2 .schedule-point-now span.a,
#step2 .schedule-point-now span.b {
    background-color: #f50;
}

#step2 .schedule-text span.a,
#step2 .schedule-text span.b {
    font-weight: 600;
    color: #f50;
}

#step3 .schedule-ico span.a {
    background-position: -120px 0;
}

#step3 .schedule-ico span.b {
    background-position: -150px 0;
}

#step3 .schedule-ico span.c {
    background-position: -180px 0;
}

#step3 .schedule-line-now {
    width: 680px;
}

#step3 .schedule-point-now span.a,
#step3 .schedule-point-now span.b,
#step3 .schedule-point-now span.c {
    background-color: #f50;
}

#step3 .schedule-text span.a,
#step3 .schedule-text span.b,
#step3 .schedule-text span.c {
    font-weight: 600;
    color: #f50;
}

#step4 .schedule-ico span.a {
    background-position: -120px 0;
}

#step4 .schedule-ico span.b {
    background-position: -150px 0;
}

#step4 .schedule-ico span.c {
    background-position: -180px 0;
}

#step4 .schedule-ico span.d {
    background-position: -210px 0;
}

#step4 .schedule-line-now {
    width: 900px;
}

#step4 .schedule-line-now em {
    display: none;
}

#step4 .schedule-point-now span.a,
#step4 .schedule-point-now span.b,
#step4 .schedule-point-now span.c,
#step4 .schedule-point-now span.d {
    background-color: #f50;
}

#step4 .schedule-text span.a,
#step4 .schedule-text span.b,
#step4 .schedule-text span.c,
#step4 .schedule-text span.d {
    font-weight: 600;
    color: #f50;
}

.model_list {
    height: 200px;
    text-align: center;
}

.model_list:hover {
    background-color: #7E8C8D;
    color: #FFF;
}

.model_list:hover p {
    color: #FFF;
}

.model_list:hover h4 {
    color: #FFF;
}

.model_list span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 5em;
}

.select_input {
    text-align: left;
    height: 30px;
    width:100%;
}

/* iCheck jquery plugin
-------------------------------------- */
.icheckbox_flat-green, .iradio_flat-green {
    background: url(../images/install_bg.png) no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-green {
    background-position: 0 -280px;
}

.icheckbox_flat-green.checked {
    background-position: -22px -280px;
}

.icheckbox_flat-green.disabled {
    background-position: -44px -280px;
    cursor: default;
}

.icheckbox_flat-green.checked.disabled {
    background-position: -66px -280px;
}

.iradio_flat-green {
    background-position: -88px -280px;
}

.iradio_flat-green.checked {
    background-position: -110px -280px;
}

.iradio_flat-green.disabled {
    background-position: -132px -280px;
    cursor: default;
}

.iradio_flat-green.checked.disabled {
    background-position: -154px -280px;
}